@page "/timeentry"
@page "/timeentry/{id:int?}"
@inject ITimeEntryService TimeEntryService
@inject IProjectService ProjectService
@inject NavigationManager NavigationManager
@implements IDisposable


    <div>
        <label for="startDate">Start</label>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Submit</button>

    @* shows all errors for length, required etc. Removed as error message added to the model and displayed via ValidationMessage. *@
    @* <ValidationSummary /> *@
</EditForm>

@code {
    [Parameter]
    public int? Id { get; set; }

    // cant use the TimeEntryRequest directly as we need to bind in blazor and its an immutable record
    TimeEntryRequest timeEntry = new TimeEntryRequest();

    protected override void OnInitialized()
    {
        ProjectService.OnChange += StateHasChanged;
    }

    protected override async Task OnParametersSetAsync()
    {
        {
            var result = await TimeEntryService.GetTimeEntryById((int)Id);
            timeEntry = new TimeEntryRequest
            {
                End = result.End,
                Start = result.Start,
                ProjectId = result.Project.Id
            };
        } 
    }

    private async Task HandleSubmit()
    {
        if (Id is null)
        {
            Console.WriteLine("Create new time entry.");
            await TimeEntryService.CreateTimeEntry(timeEntry);
            NavigationManager.NavigateTo("/timeentries");
        }
        else
        {
            Console.WriteLine($"Edit time entry with Id {Id}");
        }
    }

    public void Dispose()
    {
        ProjectService.OnChange -= StateHasChanged;
    }
}
