@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<BlazoredToasts 
    Position="ToastPosition.BottomRight"
    Timeout="10"
    ShowProgressBar="true" />

@* <BlazoredToasts
        Position="ToastPosition.BottomRight"
        Timeout="10"
        IconType="IconType.FontAwesome"
        SuccessClass="success-toast-override"
        SuccessIcon="fa fa-thumbs-up"
        ErrorIcon="fa fa-bug" /> *@

@* <BlazoredToasts Position="ToastPosition.BottomRight"
        Timeout="10"
        IconType="IconType.Material"
        ErrorIcon="error_outline"
        InfoIcon="school"
        SuccessIcon="done_outline"
        WarningIcon="warning" /> *@

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
           <LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
